

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a
{ height:100%;
  margin: 0;
  padding: 0;
    position:relative;
    z-index: -2;
    background-color: black !important;
    background:center;
    background-repeat: no-repeat;
    background-attachment:fixed;
   
   
}
 .img {
     position:relative;
     z-index: 0;
     background-repeat: no-repeat;
     background: center;
     align-self:center;
     align-content:center;
     background-size:contain !important;
     

 }

    .ui-btn {
        position: relative;
        margin: auto;
        z-index: 3;
	text-decoration: none !important;
    font-family:'YouMurderer BB' !important;
    color:red !important;
    background-color:black;
    border: solid;
    padding: 0; 
    border-color:white;
    font-size:large;
    
  

}
  

p {
    margin-top: 1%;
    border: none;
    font-family: 'YouMurderer BB';
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 0;
    position: relative;
    background-position:center;

    z-index: 3;
}




  



video {
    
    position:absolute;
    z-index: -1;
    align-content:center;
   
    padding: 0;


}